# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
2*(10**2)/4+60-9.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [ ]:
2/3  # in py3, 0.6667, in py2 0

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
# 44, 29, 34

What is the *type* of the result of the expression 3 + 1.5 + 4?

What would you use to find a numberâ€™s square root, as well as its square?

floating

sqrt: **(0.5)
square: **2

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [11]:
s = 'hello'
# Print out 'e' using indexing
s[1]
# Code here

'e'

Reverse the string 'hello' using indexing:

In [14]:
s ='hello'

# Reverse the string using indexing
s[::-1]
# Code here

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [5]:
s ='hello'

# Print out the
s[-1]
s[4]
# Code here

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [15]:
l=[0,0,0]
l

[0, 0, 0]

In [16]:
l=list()
l.append(0)
l.append(0)
l.append(0)
l

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [20]:
l = [1,2,[3,4,'hello']]

In [22]:
l[2][2]='goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [29]:
l = [5,3,4,6,1]

In [27]:
l.sort()

In [31]:
sorted(l)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [32]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [33]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [42]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [43]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

no, we can not sort a dictionary

## Tuples

What is the major difference between tuples and lists?

list can be mutable, and tuples are immutable

How do you create a tuple?

use () to create a tuple

## Sets

What is unique about a set?

it holds the unique element in a set

Use a set to find the unique values of the list below:

In [44]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [45]:
# Answer before running cell
2 > 3  # false

False

In [46]:
# Answer before running cell
3 <= 2  # false

False

In [47]:
# Answer before running cell
3 == 2.0  # false

False

In [48]:
# Answer before running cell
3.0 == 3  # true

True

In [49]:
# Answer before running cell
4**0.5 != 2  # false

False

Final Question: What is the boolean output of the cell block below?

In [50]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']  #3>=4 => false

False

## Great Job on your first assessment!